<a href="https://colab.research.google.com/github/Chayti/OOP_Lab_DIU/blob/main/DIU_OOPII_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Deep Dive into sets in Python

A set is a unordered group of elements, where the elements themselves are immutable.

It may include elements of different types. This means you can have a group of numbers, strings, and even tuples, all in the same set!

In [ ]:
set1 = {19, 3, 2, 2, 13}
print(set1)

set2 = sorted({19, 3, 2, 2, 13})
print(set2)

set3 = {'James', 3, 2, 2,'Python'}
print(set3)

set4 = sorted({'James','Python','Mutton','Bag'})
print(set4)

# Will give error
# set5 = sorted({'James', 3, 2, 2,'Python'})
print(set5)

{19, 2, 3, 13}
[2, 3, 13, 19]
{3, 2, 'James', 'Python'}
['Bag', 'James', 'Mutton', 'Python']
['Bag', 'James', 'Mutton', 'Python']

In [ ]:
# Different types of set

set1 = {False, False, True}
print(set1)

set2 = {10.0, "Hi", (11, 12, 13)}
print(set2)

set3 = set([11, 12, 13, 2])
print(set3)

{False, True}
{10.0, 'Hi', (11, 12, 13)}
{2, 11, 12, 13}

In [ ]:
# How to Modify a Set in Python

# initializing a set
a = {11, 13}
print(a)

# adding an item
a.add(12)
print(a)

# adding multiple elements
a.update([22, 13, 14])
print(a)

# adding list and set
a.update([14, 15], {11, 16, 18})
print(a)

{11, 13}
{11, 12, 13}
{11, 12, 13, 14, 22}
{11, 12, 13, 14, 15, 16, 18, 22}

In [ ]:
# How to Get the Length of a Set

cars = {"X", "Y", "ZZ"}
print(len(cars))

3

# Various Set Methods

In [ ]:
x = {"pear", "grapes", "kiwi"}
x.add("orange") #used to add a single item to the set
print(x)

{'orange', 'pear', 'grapes', 'kiwi'}

In [ ]:
y = {"mango", "banana", "apple"}
x.update(y) #used to update the set with union of others and itself
print(x)

{'mango', 'pear', 'kiwi', 'orange', 'banana', 'grapes', 'apple'}

In [ ]:
x = y.copy() #used to return a copy of the set
print(x)

x.clear() #used to remove all items of the set
print(x)

{'mango', 'apple', 'banana'}
set()

In [ ]:
y.discard("banana") #used to remove an item from the set. If the item is not an element, then nothing is done
print(y)

{'mango', 'apple'}

In [ ]:
z = x.union(y) #used to return a new set as a union of sets
print(x|y) #it also represents union operation
print(z)

{'mango', 'apple'}
{'mango', 'apple'}

In [ ]:
w = x.intersection(y) #used to return a new set as a intersection of sets
print(x & y) #it also represents intersection operation
print(w)

set()
set()

In [ ]:
z = x.difference(y) #used to return a new set as the difference of two or more sets
print(x-y) #The difference between two sets is the set of all the elements in first set that are not present in the second set.
print(z)

set()
set()

#Frozen Set
A new class having the characteristics of a set in python whose items
cannot be changes post assignment is known as Frozenset.

Like tuples behave as immutable lists, frozensets behave as immutable sets.

frozenset() function is used to create frozensets.

As they are immutable, add and remove item methide arenâ€™t supported.

In [ ]:
#initialize frozenset a and b
a = frozenset([11, 12, 13, 14])
b = frozenset([23, 24, 25, 26])

print(a.isdisjoint(b)) #if the intersection of two sets is null, return true
print(a.difference(b))
print(a|b)

# a.add(10)

True
frozenset({11, 12, 13, 14})
frozenset({11, 12, 13, 14, 23, 24, 25, 26})

# Creating a Set from user Input in Python

In [ ]:
# create a set from string user input
my_set = set(input('Enter space-separated words: ').split())
print(my_set)

#create a set from integer user input
user_input = input('Enter space-separated integers: ')
print(user_input)
print(type(user_input))
my_set = set(int(item) for item in user_input.split())
print(my_set)

Enter space-separated words: 6 10 9 3
{'9', '6', '3', '10'}
Enter space-separated integers: 6 10 9 3
6 10 9 3
<class 'str'>
{9, 10, 3, 6}