In [1]:
# Problem_0 (a) : printing single value
a = 5
print(a)
print((a))

5
5

In [2]:
# Problem_0 (b) : Assigning single value to multiple variables

x=y=z=50
print(x)
print(y)
print(z)

50
50
50

In [3]:
# Problem_0 (c) : Assigning multiple values to multiple variables

a, b, c = 5, 10, 15
print (a)
print (b)
print (c)

5
10
15

In [4]:
# Problem_0 (d) : Declaring a function with local variable
def add():
  # Defining local variables. They has scope only within a function
  a = 20
  b = 30
  c = a + b
  print("The sum is:", c)

# Calling a function
add()

The sum is: 50

In [5]:
# Problem_0 (e) : Declaring a function with global variable

# Declare a variable and initialize it
x = 101

# Global variable in function
def mainFunction():
# printing a global variable
  global x
  print(x)
  # modifying a global variable
  x = 'Welcome To Python'
  print(x)

mainFunction()
print(x)

101
Welcome To Python
Welcome To Python

In [6]:
# Problem_0 (f) : Delating a variable

# Assigning a value to x
x = 6
print(x)

# deleting a variable.
del x
print(x)

6

NameError: name 'x' is not defined

In [7]:
# Problem_0 (g) :

# A Python program to display that we can store
# large numbers in Python

a = 10000000000000000000000000000000000000000000
a = a + 1
print(type(a))
print (a)

<class 'int'>
10000000000000000000000000000000000000000001

In [8]:
# Problem_1:

a=10
b="Hi Python"
c = 10.5
print(type(a))
print(type(b))
print(type(c))

d = 1+3j
print("The type of d", type(d))

<class 'int'>
<class 'str'>
<class 'float'>
The type of d <class 'complex'>

In [9]:
# Problem_2 :

str = "string using double quotes"
print(str)
s = '''A multiline
string
Closed'''
print(s)

string using double quotes
A multiline
string
Closed

In [11]:
# Problem_3 :

str1 = 'hello Class' #string str1
str2 = ' how are you' #string str2
print (str1[0:2]) #printing first two character using slice operator
print (str1[4]) #printing 4th character of the string
print (str1*2) #printing the string twice
print (str1 + str2) #printing the concatenation of str1 and str2

he
o
hello Classhello Class
hello Class how are you

In [12]:
# Problem_4 :

list1  = [1, "hi", "Python", 2]
#Checking type of given list
print(type(list1))

#Printing the list1
print (list1)

# List slicing
print (list1[3:])

# List slicing
print (list1[0:2])

# List Concatenation using + operator
print (list1 + list1)

# List repetation using * operator
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
[2]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [13]:
# Problem_5 :

tup  = ("hi", "Python", 2)
# Checking type of tup
print (type(tup))

#Printing the tuple
print (tup)

# Tuple slicing
print (tup[1:])
print (tup[0:1])

# Tuple concatenation using + operator
print (tup + tup)

# Tuple repatation using * operator
print (tup * 3)

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

In [14]:
# Problem_6 :

d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}

# Printing dictionary
print (d)

# Accesing value using keys
print("1st name is "+d[1])
print("2nd name is "+d[4])

print (d.keys())
print (d.values())

{1: 'Jimmy', 2: 'Alex', 3: 'john', 4: 'mike'}
1st name is Jimmy
2nd name is mike
dict_keys([1, 2, 3, 4])
dict_values(['Jimmy', 'Alex', 'john', 'mike'])

In [15]:
# Problem_7 : Python program to check the boolean type

print(type(True))
print(type(False))
print(false)

<class 'bool'>
<class 'bool'>

NameError: name 'false' is not defined

In [22]:
# Problem_8 : Sets are unique, not maintain order from ascending to descending

# Creating Empty set
set1 = set()

set2 = {'James', 3, 2, 2,'Python'}

#Printing Set value
print(set2)

# Adding element to the set

set2.add(10)
print(set2)

#Removing element from the set
set2.remove(2)
print(set2)

{'James', 2, 3, 'Python'}
{2, 3, 10, 'James', 'Python'}
{3, 10, 'James', 'Python'}

In [23]:
# Problem_9 : Program to swap the values of two variables without using a temporary variable

# Input values
a = 5
b = 10

# Swapping without a temporary variable
a, b = b, a

# Display the swapped values
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [24]:
# Problem_10 : Program to check if a number is even or odd

# Input from the user
num = int(input("Enter an integer: "))

# Check if the number is even or odd
if num % 2 == 0:
    print(num, "is even.")
else:
    print(num, "is odd.")

Enter an integer: 5
5 is odd.

In [25]:
# Problem_11 : String Reverse: Write a Python function to reverse a given string and return the reversed string.

def reverse_string(input_str):
    # Using string slicing to reverse the string
    # input_str[::-1] is used to reverse the string using string slicing.
    # This syntax creates a new string with all elements in reverse order.
    reversed_str = input_str[::-1]
    return reversed_str

# Example usage:
input_string = "Hello, World!"
result = reverse_string(input_string)

print("Original String:", input_string)
print("Reversed String:", result)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [26]:
# Problem_12 : Program to convert Celsius to Fahrenheit

# Input temperature in Celsius from the user
celsius_temperature = float(input("Enter temperature in Celsius: "))

# Conversion formula: Fahrenheit = (Celsius * 9/5) + 32
fahrenheit_temperature = (celsius_temperature * 9/5) + 32

# Display the converted temperature
print(f"{celsius_temperature} degrees Celsius is equal to {fahrenheit_temperature:.2f} degrees Fahrenheit.")

Enter temperature in Celsius: 30
30.0 degrees Celsius is equal to 86.00 degrees Fahrenheit.

SymPy http://www.sympy.org is a Python library for symbolic math.

In symbolic math, symbols are used to represent mathematical expressions. An example of a symbolic math expression is below.
x2+y2=z

In [27]:
# Problem_13

from sympy import symbols, solve

# defining variables
x = symbols('x')
expr = x-4-2

sol = solve(expr)
sol

[6]

In [28]:
# Problem_14

y = symbols('y')
eq1 = y + 3 + 8

sol = solve(eq1)
sol

[-11]